*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-left: 25rem;
}
h2{

    font-family: Poppins;
    font-size: 55px;

}
.container p{
    width: 450px;
    font-family: Poppins;
    font-size: 22px;


}
.cards{
    width: 100%;
    /* margin: auto; */
    margin-top: 3rem;  
    display: flex;
    gap: 1.5rem;
    /* justify-content: center; */
}

.sportcard {
    width: 24%;
}
.sportimg img{
    width: 90%;
    
}
.sportflex{
    display: flex;
    /* gap: 1rem; */
    padding-left: .5rem;
    align-items: center;
    
    
}
.sportcard P{
    padding-left: 1rem;
    font-size: 18px;
}
h4{
    padding-left: 1rem;
}

.weddingcard {
    width: 24%;
     /* height: 30rem;  */
} 
 .weddingimg img{
    width: 80%;
}
.mountaincard {
    width: 24%;
}
.weddingcard p{
    padding-left: 1rem;
    font-size: 18px;
}
 .mountaincard .mountainimg img{
    width: 80%;
 
    
}
.mountaincard p{
    padding-left: 1rem;
    font-size: 18px;
}
 button{
    margin-top: .7rem;
    padding: .3rem .5rem;
    position: absolute;
    margin-left: 1rem;
    border-radius: .5rem;
    border: none;
}

span {
    font-weight: bold;
}
.star img{
    /* margin-bottom: 1rem; */
    width: 100%;
    /* margin-top: 1em; */
}
@media screen and (max-width: 1024px){
    .container{
        padding-left:2rem;
    }
    h2{
        font-size: 40px;
    }
    .cards{
        gap: 1.5rem;
        align-items: center;
 
    }
    .sportcard{
        width: 30%;
        margin: auto;
        /* margin-bottom: 2rem; */
    }
    .sportcard p{
        font-size: 16px;
    }
    .weddingcard{
        width: 30%;
        margin: auto;
        /* margin-bottom: 2rem; */
        margin-top: 0;
    }
    .weddingcard p{
        font-size: 16px;
    }
    .mountaincard{
        width: 30%;
        margin: auto;

    }
}
@media screen and (max-width: 768px){
    .cards{
        gap: 1.5rem;
    }
    .sportcard{
        width: 35%;
    }
    .sportcard p{
        font-size: 12px;
    }
    .weddingcard{
        width: 35%;
    }
    .weddingcard p{
        font-size: 12px;
    }
    .mountaincard{
        width: 35%;
    }
    .mountaincard p{
        font-size: 12px;
    }
}
@media screen and (max-width: 426px){
    .cards{
        display: block;
    
    }
    .sportcard{
        width: 70%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .sportcard p:nth-child(2){
        width: 100%;
        font-size: 5px;
    }
    .weddingcard{
        width: 70%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .mountaincard{
        width: 70%;
        margin: auto;
    }
    .mountaincard p{
        font-size: 12px;
    }
   .container h2{
        font-size: 25px;
    }
   .container p{
        font-size: 14px;
        width: 90%;
    }
   
    .star {
        width: 10%;
    }
    .sportflex {
        width: 70%;
    }
    .cards p{
        width: 100%;
    }
    button{
        font-size: 10px;
    }
}
@media screen and (max-width: 376px){
    .sportcard p{
        font-size: 12px;
        /* width: 100%; */
    }
    .weddingcard p{
        font-size: 12px;
        /* width: 100%; */
    }
    .mountaincard p{
        font-size: 12px;
        /* width: 100%; */
    }
}
@media screen and (max-width: 320px){
    .cards p{
        font-size: 11px;
    }
}