*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
h2{

    font-family: Poppins;
    font-size: 36px;

}
p{
    width: 360px;
    font-family: Poppins;
    font-size: 16px;


}
.cards{
    width: 100%;
    /* margin: auto; */
    margin-top: 3rem;  
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.sportcard {
    width: 20%;
}
.sportimg img{
    width: 100%;
    
}
.sportflex{
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    
    
}
.sportcard P{
    padding-left: 1rem;
}
h4{
    padding-left: 1rem;
}

.weddingcard {
    width: 20%;
    /* height: 30rem; */
}
 .weddingimg img{
    width: 100%;
}
.mountaincard {
    width: 20%;
}
.weddingcard p{
    padding-left: 1rem;
}
 .mountaincard .mountainimg img{
    width: 100%;
 
    
}
.mountaincard p{
    padding-left: 1rem;
}
 button{
    margin-top: .7rem;
    padding: .5rem .7rem;
    position: absolute;
    margin-left: 1.5rem;
    border-radius: .5rem;
    border: none;
}
h6{
    font-size: 16px;
    text-align: left;
}
.star img{
    margin-bottom: 1rem;
}
@media screen and (max-width: 1024px){
    .cards{
        gap: 1.5rem;
        align-items: center;
    }
    .sportcard{
        width: 30%;
        margin: auto;
        /* margin-bottom: 2rem; */
    }
    .weddingcard{
        width: 30%;
        margin: auto;
        /* margin-bottom: 2rem; */
    }
    .mountaincard{
        width: 30%;
        margin: auto;

    }
}
@media screen and (max-width: 768px){
    .cards{
        gap: 1.5rem;
    }
    .sportcard{
        width: 35%;
    }
    .weddingcard{
        width: 35%;
    }
    .mountaincard{
        width: 35%;
    }
}
@media screen and (max-width: 426px){
    .cards{
        display: block;
    
    }
    .sportcard{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .weddingcard{
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .mountaincard{
        width: 80%;
        margin: auto;
    }
   .container h2{
        font-size: 25px;
    }
   .container p{
        font-size: 14px;
        width: 90%;
    }
   
    .star {
        width: 10%;
    }
    .sportflex {
        width: 70%;
    }
}
@media screen and (max-width: 320px){
    .cards p{
        font-size: 13px;
    }
}