

.container{
    width: 100%;
    margin-top: 5rem;
}
.layouts{
    width: 90%;
    margin: auto;
    display: flex ;
    gap: 1.5rem;
    justify-content: center;
}
.sec1, .sec3{
    margin-top: 2rem;
}
.img2,.img4,.img6,.img8{
    bottom: 1rem;
}
.lay5{
    margin-top: 2rem;
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px) {
    .layouts {
        width: 85%;
        gap: 1rem;
    }
}
@media screen and (max-width: 426px) {
    .layouts {
        width: 95%;
        gap: .4rem;
        margin: auto;
    }
    .img1,.img2,.img3, .img4, .img5, .img6, .img7,.img8, img{
        width: 89%;
        /* margin-bottom: 1rem; */
        background-size: cover;

    }
  
    
}

